/* Variables */
:root {
    --basic-blue: #81B3D2;
    --basic-brown:#766357;
    --basic-gray: #EEEEEE;
    --basic-black:#000000;
    --basic-white:#ffffff;
    --basic-extra-light: #F2F2F2;
  
    --special: #663d15;
  }
  /* Global */


 .page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("");
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .main-navigation {
    display: grid;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: transparent;
  }
  .main-header-bar {
    background-color: var(--basic-brown);
  }
  .main-navigation-wrapper {
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr min-content;
  }
  .site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
  }
  
  /* User navigation */
  
  
  .site-navigation a,
  .user-navigation a {
    color: var(--basic-black);
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus {
    background-color: var(--basic-white);
  }
  .background {
   background-position: top center;
  }
 
  
  /* Heading */
  .heading {
    text-align: center;
    list-style: none;
    
}
/* Features */
.features {
  text-align: center;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 80px;
}
 .features-list {
    list-style: none;
    color: var(--basic-white);
    margin: 0;
    padding: 0;
    }
    .features-list--second {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    .features-list--first {
    list-style: none;
    color: var(--basic-white);
    margin: 0;
    padding: 0;

    }
  .features-list--third {
    background-image: url("img/Rectangle2.png");
    background-position: top center;
    background-repeat: no-repeat;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .features-item {
    text-align: center;
    outline: 5px solid rgba(0, 255, 255 , 0.3);
    justify-self: start;
    background-image: url("img/Rectangle.png");
    }
    .features-item--first {
    text-align: center;
    outline: 5px solid rgba(0, 255, 255 , 0.3);
    justify-self: start;
    background-image: url("img/Rectangle.png");
      
    }
    
   
  
  .feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    }
  
  .info {
    text-align: center;  
  }
  .button-search {
  background-color: var(--basic-brown);
  }
  /* footer */
.main-footer {
text-align: center;
list-style: none;
color: var(--basic-black);
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;  
}
.footer-social {
color: var(--basic-black);
}
.inner-page  .main-header {
  background-color: var(--basic-white);
}
.filters {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}
.social-title {
  list-style: none;
 
}

/* Grid */

.page {
  height: 100%;
}
/* Main header */

.main-header {
  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Logo */

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  justify-self: center;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.features-list {
  display: grid;
}


