/* Variables */
:root {
    --basic-blue: #81B3D2;
    --basic-brown:#766357;
    --basic-gray: #EEEEEE;
    --basic-black:#000000;
    --basic-white:#ffffff;
    --basic-extra-light: #F2F2F2;
  
    --special: #663d15;
  }
  /* Global */


body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("");
    background-position: top center;
    background-repeat: no-repeat;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: transparent;
  }
  
  .main-navigation-wrapper {
    background-color: var(--basic-white);
  }
  .site-navigation {
    list-style: none;
  }
  .site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
  }
  
  /* User navigation */
  
  
  .site-navigation a,
  .user-navigation a {
    color: var(--basic-black);
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus {
    background-color: var(--basic-white);
  }
  .background {
   background-position: top center;
  }
 
  
  /* Heading */
  .heading {
    text-align: center;
    list-style: none;
    
}
/* Features */
.features {
  text-align: center;
}
 .features-list {
    list-style: none;
    background-image: url("img/Rectangle.png");
    background-position: top center;
    background-repeat: no-repeat;
    color: var(--basic-white)
    }
    .features-list2 {
    list-style: none;
    }
  .features-list3 {
    background-image: url("img/Rectangle2.png");
    background-position: top center;
    background-repeat: no-repeat;
    list-style: none;
  }
  
  .feature-item {
    text-align: center;
    
     }
  
  .feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    }
  
  .info {
    text-align: center;  
  }
  .button-search {
  background-color: var(--basic-brown);
  }
  /* footer */
.main-footer {
text-align: center;
list-style: none;
color: var(--basic-black);  
}
.footer-social {
color: var(--basic-black);
}
.inner-page  .main-header {
  background-color: var(--basic-white);
}
.filters {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}
.social-title {
  list-style: none;
}